.calculator {
  width: 432px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.display {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  color: white;
  padding: 25px 9px 17px 0;
  background-color: #b3b3b3;
  width: 98%;
  margin-right: 39px;
}

.buttons {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: column;
}

.button {
  font-size: 18px;
  font-weight: 700;
  padding: 16px;
  border: 1px solid rgb(184, 184, 184);
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 33%;
}

.button:hover {
  background-color: #d0d0d0;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.button-operator {
  font-size: 18px;
  font-weight: 700;
  padding: 16px;
  border: 1px solid rgb(184, 184, 184);
  background-color: orange;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 33%;
}

.zero {
  font-size: 18px;
  font-weight: 700;
  padding: 16px;
  border: 1px solid rgb(184, 184, 184);
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 300px;
}
